
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.judul{
    background-color: rgb(38, 89, 228);
    color: white;
    text-align: center;
    padding: 10px;
}

.cover{
    margin-top: -8px;
    background-color: red;
    height: 250px;
}

#img-slide {
height: 300px;

}
